
.order{
    width: 100%;
    background-color: #F4F6F8;
    padding: 50px 0 130px 0;
    /* padding-bottom: 13rem; */
}
.order >.inner {
    width: 80%;
    margin: auto;
}
.section{
    width: 100%;
    padding-top: 30px;
}
.txt_box{
    height: 125px;
}
.no_tit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 0.94;
    color: #1954db;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
h4.tit{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 0.94;
    color: #000;

}
.ord_manage_box .order_process_list{
display: grid;
grid-template-columns: repeat(0, 1fr);
gap: 1.6rem;
z-index: 1;}

.order_process_list .ord_process.n1, .order_process_list .connect.n1, 
.order_process_list .connect.n2, .order_process_list .connect.n3{
    border-radius: 1.5rem;
    background: #fff;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.07);
    padding: 3rem;
}
.ord_process.n1{
    height: 250px;
    display: flex;
    justify-content: center;
    /* justify-items: center !important; */
    align-items: center;
}


.s_tit{
    font-size: 1.1rem;
    color: #545454;
    font-weight: 600;
    text-align: center;
}
.connect.n0 li a{
    font-size: 1rem;
    color: #999;
    font-weight: 600;
}

li.order_process0 {
    position: relative;
}


li.order_process0 a span{
    position: absolute;
    right: 50%;
    top: 250%;
    color: #999;

}
li.order_process1 a span{
    position: absolute;
    right: 50%;
    top: 250%;
    color: #999;

}


.product_order_list .btn {
    width: 15rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 0.8rem;
    outline: 1px solid #fff;
    box-shadow: 0px 3px 9.6px 0.4px rgba(0, 0, 0, 0.1), 4px 5px 9.6px 0.4px rgba(0, 0, 0, 0.1);
    background: #1954DB;
    color: #000;
    padding: 0 3rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
}
.btn::before {
    content: "";
    width: 20rem;
    height: 6rem;
    position: absolute;
    right: 0;
    transition: all 0.5s;
    background: #fff;
    border-radius: 12px;
}
.btn::after {
    content: "";
    width: 20rem;
    height: 6rem;
    position: absolute;
    right: 0;
    transition: all 0.5s;
    background: #fff;
    border-radius: 0.8rem
}
.btn:hover::before {
    opacity: 0;
}

.btn:hover::after {
    /* transform: translateX(calc(100% - 5rem)); */
    width: 2.5rem;
    height: 2.5rem;
    right: 1.25rem;
    top: 0.75rem;
  line-height: 1.5;
  border-radius: 0.7rem
}

.con_service_btn .btn .icon:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/icon_right_arrow.png) no-repeat center;
    z-index: 10;
    background-size: 14px;
}
.btn .icon {
    position: absolute;
    right: 10%;
    /* top: 20%; */
    /* line-height: 4rem; */
    bottom: 25%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
}
.btn::after {
    content: "";
    width: 20rem;
    height: 6rem;
    position: absolute;
    right: 0;
    transition: all 0.5s;
    background: #fff;
    border-radius: 1.2rem;
    color: #fff;
}
.btn:hover {
    color: #fff !important;
    background: #1954DB;
    outline: none;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
    /* -webkit-tap-highlight-color: transparent; */
}
.btn:hover .txt{
    color: #fff !important;
}
.btn .txt {
    position: relative;
    z-index: 10;
    font-size: 1rem;
    right: 15%;
}

.f_b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order_list_tit{
    padding: 0 0 30px 0;
}


.con_service_btn{
    display: flex;
    justify-content: center;
}
.order_list_tit p{
    margin-top: 10px;
    color: #999;
    text-align: center;
}